{% extends "PlatypusBundle:Default:layout.html.twig" %}

{% block title %}PlatypusBundle:User:login{% endblock %}

{% block main %}

<h1> login </h1>

<a href="{{ path('edit') }}">Edit</a>

{% endblock %}
